// Icons
//ABOUT_ICON		ICON	"icons/phd.ico"
progicon                ICON   	"icons/phd.ico"
//SCOPE_ICON              ICON   	"icons/scope1.ico"
//CAMERA_ICON             ICON   	"icons/cam2.ico"
//LOOP_ICON               ICON   	"icons/loop3.ico"
//CAL_ICON                ICON   	"icons/measure.ico"
//PHD_ICON                ICON   	"icons/sm_PHD.ico"
//STOP_ICON		ICON	"icons/stop1.ico"
//UP_ICON			ICON	"icons/up.ico"
//DOWN_ICON		ICON	"icons/down.ico"
//LEFT_ICON		ICON	"icons/left.ico"
//RIGHT_ICON		ICON	"icons/right.ico"
//BRAIN_ICON		ICON	"icons/brain1.ico"
//SLOW_ICON		ICON	"icons/slow.ico"
//FAST_ICON		ICON	"icons/fast2.ico"
//RED_ICON		ICON	"icons/red.ico"
//GREEN_ICON		ICON	"icons/green.ico"
//YELLOW_ICON		ICON	"icons/yellow.ico"
//
// Cursors
pixel_cursor CURSOR "icons/at_curs1.cur"
area_cursor CURSOR "icons/at_curs3.cur"
bullseye_cursor CURSOR "icons/bullseye.cur"
//
#define wxUSE_NO_MANIFEST 1

#include <wx/msw/wx.rc>
//#include "wx/msw/wx.rc"

