bin
obj
*.exe*
*.rej
*.suo
*.user
*.swp
*sdf
*~
tags
cscope.out
Debug
Release
build/tmp
build/thirdparties/cfitsio
build/thirdparties/libusb-1.0.9
build/thirdparties/libusb-compat-0.1.4
build/thirdparties/libdc1394-2.2.2
build/visual_2013_x86/
